# Analyze ML Models' Results

## Connect to GoogleDrive

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
%cd /content/drive/MyDrive/Colab\ Notebooks/CIS5930_Project/
%ls

/content/drive/MyDrive/Colab Notebooks/CIS5930_Project
'Arunima-CIS 5930 Project: Data Wrangling.ipynb'
'CIS 5930 Project: Data Wrangling.ipynb'
'CIS 5930 Project: ML Model.ipynb'
'CIS 5930 Project: ML Results.ipynb'
 cv_results_LEDE3.pickle
 cv_results_lstm_bi25_embeddings_only_epochs1_top3.pickle
 cv_results_lstm_bi50_embeddings_only_epochs1_top3.pickle
 cv_results_lstm_bi75_embeddings_only_epochs1_top3.pickle
 cv_results_lstm_uni25_embeddings_only_epochs1_top3.pickle
 cv_results_lstm_uni50_embeddings_only_epochs1_top3.pickle
 cv_results_nn2525_embeddings_only_cw_top3_epochs50.pickle
 cv_results_nn2550_embeddings_only_cw_top3_epochs50.pickle
 cv_results_nn5050_embeddings_only_cw_top3_epochs50.pickle
 cv_results_textrank.pickle
 cv_results_top_3_logreg_cw_balanced.pickle
 cv_results_top_3_logreg_default.pickle
 cv_results_top_3_logreg_elasticnet_gridsearch.pickle
 cv_results_top_3_logreg_elasticnet.pickle
 cv_results_top_3_logreg_sent_num_bal.pickle
 cv_results_top_3_logreg_sent_num_no_bal.pickle
 dev-stats.jsonl
 extractive_all_domain_labels.pickle
 functions.py
 __pycache__/
 test-stats.jsonl
 train_stats_df_extractive_no_spacy.pickle
 train_stats_df_no_spacy.pickle
 train_stats_df_processed_extr_5000.pickle
 train_stats_df_processed_extr_label_5000.pickle
 train_stats_dict_processed_extr_final_5000_inc_pagerank.pickle
 train_stats_dict_processed_extr_final_5000_.pickle
 train-stats.jsonl
 train_test_set20_embeddings_only.pickle
 train_test_set20_embeddings_sent_num.pickle

## Section 1: Supervised Learning Using Only Embedding Information

### LogReg Embedding Only

In [ ]:
import pandas as pd

#load results data
input_default =  'cv_results_top_3_logreg_default.pickle'
r_def = pd.read_pickle(input_default)

In [ ]:
#wrap rouge score in dataframe
df_def = pd.DataFrame(r_def['Rouge']['rouge1'], index=['LogisticReg']).apply(lambda x: round(x,3))
df_logreg = pd.concat([df_def])
df_logreg.columns.name = 'ROUGE-1'
#df_logreg.index.name = 'LogisticReg'
df_logreg[['f1', 'recall', 'precision']]

ROUGE-1         f1  recall  precision
LogisticReg  0.416   0.398      0.578

### Neural Nets

In [ ]:
#load results
#load results
input_2525 = 'cv_results_nn2525_embeddings_only_cw_top3_epochs50.pickle'
input_2550 = 'cv_results_nn2550_embeddings_only_cw_top3_epochs50.pickle'
input_5050 = 'cv_results_nn5050_embeddings_only_cw_top3_epochs50.pickle'

r_nn2525 = pd.read_pickle(input_2525)
r_nn2550 = pd.read_pickle(input_2550)
r_nn5050 = pd.read_pickle(input_5050)

In [ ]:
#wrap rouge score in dataframe
df_nn2525 = pd.DataFrame(r_nn2525['Rouge']['rouge1'], index=['NN 25 25']).apply(lambda x: round(x,3))
df_nn2550 = pd.DataFrame(r_nn2550['Rouge']['rouge1'], index=['NN 25 50']).apply(lambda x: round(x,3))
df_nn5050 = pd.DataFrame(r_nn5050['Rouge']['rouge1'], index=['NN 50 50']).apply(lambda x: round(x,3))

In [ ]:
#concatenate
df_nn = pd.concat([df_nn2525, df_nn2550, df_nn5050])

In [ ]:
#display
df_nn.columns.name = 'ROUGE-1'
df_nn.index.name = 'Neural Network (Dense Dense)'
df_nn = df_nn[['f1', 'recall', 'precision']]

df_nn

ROUGE-1                          f1  recall  precision
Neural Network (Dense Dense)
NN 25 25                      0.403   0.379      0.577
NN 25 50                      0.396   0.390      0.551
NN 50 50                      0.399   0.393      0.549

## Score comparison between Logistic Regresseion and Neural Net

In [ ]:
input_default = 'cv_results_top_3_logreg_default.pickle'
input_5050 = 'cv_results_nn5050_embeddings_only_cw_top3_epochs50.pickle'
r_def = pd.read_pickle(input_default)
r_nn5050 = pd.read_pickle(input_5050)

#wrap rouge score in dataframe
df_def = pd.DataFrame(r_def['Rouge']['rouge1'], index=['Logistic Reg']).apply(lambda x: round(x,3))
df_nn5050 = pd.DataFrame(r_nn5050['Rouge']['rouge1'], index=['NN 50 50']).apply(lambda x: round(x,3))

#concatenate
df_nn = pd.concat([df_def, df_nn5050])

#display
df_nn.columns.name = 'ROUGE-1'
#df_nn.index.name = 'Neural Network (Dense Dense)'
df_nn = df_nn[['f1', 'recall', 'precision']]

df_nn

ROUGE-1          f1  recall  precision
Logistic Reg  0.416   0.398      0.578
NN 50 50      0.399   0.393      0.549

## Section 2: Supervised Learning Including Sequential Information

### LogReg with Sentence Number

In [ ]:
#load data
import pandas as pd

input_sent_num_def =  'cv_results_top_3_logreg_sent_num_no_bal.pickle'
#input_sent_num_bal = 'cv_results_top_3_logreg_sent_num_bal.pickle'

r_sent_num_def = pd.read_pickle(input_sent_num_def)
#r_sent_num_bal = pd.read_pickle(input_sent_num_bal)

In [ ]:
#wrap rouge score in dataframe, concatenate and display
df_sent_num_def= pd.DataFrame(r_sent_num_def['Rouge']['rouge1'], index=['Logistic Reg']).apply(lambda x: round(x,3))
#df_sent_num_bal = pd.DataFrame(r_sent_num_bal['Rouge']['rouge1'], index=['Balanced']).apply(lambda x: round(x,3))

df_lr_sent_num = pd.concat([df_sent_num_def]) 
df_lr_sent_num.columns.name = 'ROUGE-1'
#df_lr_sent_num.index.name = 'LogReg'
df_lr_sent_num[['f1', 'recall', 'precision']]

ROUGE-1          f1  recall  precision
Logistic Reg  0.525   0.518      0.696

### Long Short Term Memory (LSTM)

In [ ]:
#load data
input_lstm_un25 = 'cv_results_lstm_uni25_embeddings_only_epochs1_top3.pickle'
input_lstm_un50 = 'cv_results_lstm_uni50_embeddings_only_epochs1_top3.pickle'
input_lstm_bi25 = 'cv_results_lstm_bi25_embeddings_only_epochs1_top3.pickle'
input_lstm_bi50 = 'cv_results_lstm_bi50_embeddings_only_epochs1_top3.pickle'
input_lstm_bi75 = 'cv_results_lstm_bi75_embeddings_only_epochs1_top3.pickle'

r_lstm_un25 = pd.read_pickle(input_lstm_un25)
r_lstm_un50 = pd.read_pickle(input_lstm_un50)
r_lstm_bi25 = pd.read_pickle(input_lstm_bi25)
r_lstm_bi50 = pd.read_pickle(input_lstm_bi50)
r_lstm_bi50 = pd.read_pickle(input_lstm_bi75)

In [ ]:
#wrap rouge score in dataframe

df_lstm_un25 = pd.DataFrame(r_lstm_un25['Rouge']['rouge1'], index=['LSTM Uni 25']).apply(lambda x: round(x,3))
df_lstm_un50 = pd.DataFrame(r_lstm_un50['Rouge']['rouge1'], index=['LSTM Uni 50']).apply(lambda x: round(x,3))
df_lstm_bi25 = pd.DataFrame(r_lstm_bi25['Rouge']['rouge1'], index=['LSTM Bi 25']).apply(lambda x: round(x,3))
df_lstm_bi50 = pd.DataFrame(r_lstm_bi50['Rouge']['rouge1'], index=['LSTM Bi 50']).apply(lambda x: round(x,3))
df_lstm_bi75 = pd.DataFrame(r_lstm_bi50['Rouge']['rouge1'], index=['LSTM Bi 75']).apply(lambda x: round(x,3))

In [ ]:
#concatenate
df_lstm = pd.concat([df_lstm_un25, df_lstm_un50, df_lstm_bi25, df_lstm_bi50, df_lstm_bi75])

In [ ]:
#display Rouge1
df_lstm.columns.name = 'ROUGE-1'
df_lstm.index.name = 'LSTM'
df_lstm = df_lstm[['f1', 'recall', 'precision']]

df_lstm

ROUGE-1         f1  recall  precision
LSTM
LSTM Uni 25  0.596   0.579      0.778
LSTM Uni 50  0.596   0.576      0.783
LSTM Bi 25   0.596   0.575      0.781
LSTM Bi 50   0.599   0.577      0.785
LSTM Bi 75   0.599   0.577      0.785

### LEDE3

### Rouge1

In [ ]:
#load data
input_lede3 = 'cv_results_LEDE3.pickle'
r_lede3 = pd.read_pickle(input_lede3)
df_lede3 = pd.DataFrame(r_lede3['Rouge']['rouge1'], index=['LEDE3']).apply(lambda x: round(x,3))

In [ ]:
#concatenate optimal models for baseline comparison and display Rouge1
df_lede3_comp = pd.concat([df_lede3, df_sent_num_def, df_lstm_bi50])
df_lede3_comp=df_lede3_comp[['f1', 'recall', 'precision']]
df_lede3_comp.index = ['LEDE3', 'Logistic Reg', 'LSTM Bi 50']
df_lede3_comp.columns.name = 'ROUGE-1'
df_lede3_comp

ROUGE-1          f1  recall  precision
LEDE3         0.589   0.588      0.757
Logistic Reg  0.525   0.518      0.696
LSTM Bi 50    0.599   0.577      0.785

### Load TextRank Data

In [ ]:
#load results
input_textrank = 'cv_results_textrank.pickle'
r_textrank = pd.read_pickle(input_textrank)

In [ ]:
for key, value in r_textrank.items():
  print(key)

df_original
Xy_doc_label_array
df_X
y_array
textrank_scores_arr_per_doc
Rouge
doc_labels
summaries_comp

In [ ]:
df =  r_textrank['df_original']

In [ ]:
df.loc[8]['summary']

'By CORKY SIEMASZKO DAILY NEWS STAFF WRITER Mother Teresa believed she was possessed by the Devil, the archbishop of Calcutta said yesterday. So the revered nun, whom the Vatican hopes to make a saint, underwent an exorcism and afterward "slept like a baby,"he said. Archbishop Henry D\'Souza\'s bizarre revelation came as millions yesterday marked the fourth anniversary of Mother Teresa\'s death. But D\'Souza told CNN and The Associated Press in India he truly believed'

In [ ]:
summaries = r_textrank['summaries_comp']

###Pull article and display summaries across models + gold summary

In [ ]:
#Pull article and display summaries across models + gold summary
article_label = 1

print('\033[1m{:10s}\033[0m'.format('Original')) 
print(r_textrank['summaries_comp'][article_label][1].replace('\n\n', ''))
print('')

print('\033[1m{:10s}\033[0m'.format('Logistic Reg')) 
print(r_def['summaries_comp'][article_label][0].replace('\n\n', ''))
print('')

print('\033[1m{:10s}\033[0m'.format('Neural Net')) 
print(r_nn2525['summaries_comp'][article_label][0].replace('\n\n', ''))
print('')

print('\033[1m{:10s}\033[0m'.format('LSTM')) 
print(r_lstm_bi50['summaries_comp'][article_label][0].replace('\n\n', ''))
print('')

print('\033[1m{:10s}\033[0m'.format('LEDE3')) 
print(r_lede3['summaries_comp'][article_label][0].replace('\n\n', ''))
print('')


#print('\033[1m{:10s}\033[0m'.format('TextRank')) 
#print(r_textrank['summaries_comp'][article_label][0].replace('\n\n', ''))

Original
By CORKY SIEMASZKO DAILY NEWS STAFF WRITER Mother Teresa believed she was possessed by the Devil, the archbishop of Calcutta said yesterday. So the revered nun, whom the Vatican hopes to make a saint, underwent an exorcism and afterward "slept like a baby,"he said. Archbishop Henry D'Souza's bizarre revelation came as millions yesterday marked the fourth anniversary of Mother Teresa's death. But D'Souza told CNN and The Associated Press in India he truly believed

Logistic Reg
Archbishop Henry D'Souza's bizarre revelation came as millions yesterday marked the fourth anniversary of Mother Teresa's death. The Catholic cleric said he diagnosed the demon in Mother Teresa shortly before she had a fatal heart attack Sept. 5, 1997, and died at age 87. Mother Teresa won a Nobel Prize for her life's work, and Pope John Paul has begun the process of declaring her a saint.

Neural Net
So the revered nun, whom the Vatican hopes to make a saint, underwent an exorcism and afterward "slept like a baby," he said. The Catholic cleric said he diagnosed the demon in Mother Teresa shortly before she had a fatal heart attack Sept. 5, 1997, and died at age 87. So did Michael Cuneo, author of "American Exorcism," which hits bookstores next week.

LSTM
BY CORKY SIEMASZKO DAILY NEWS STAFF WRITER With Emily GestThursday, September 6th 2001, 2:23AM Mother Teresa believed she was possessed by the Devil, the archbishop of Calcutta said yesterday. So the revered nun, whom the Vatican hopes to make a saint, underwent an exorcism and afterward "slept like a baby," he said.

LEDE3
BY CORKY SIEMASZKO DAILY NEWS STAFF WRITER With Emily GestThursday, September 6th 2001, 2:23AM Mother Teresa believed she was possessed by the Devil, the archbishop of Calcutta said yesterday. So the revered nun, whom the Vatican hopes to make a saint, underwent an exorcism and afterward "slept like a baby," he said.

In [ ]:
# TESTTT LIZA READ PICKLE FILE
input_file = 'cv_results_top_3_logreg_default.pickle'
r_test_pickle = pd.read_pickle(input_file)